# Client (aman diekspos, prefix NEXT_PUBLIC_)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# SERVER-ONLY — JANGAN pernah import ke client component / prefix NEXT_PUBLIC_
SUPABASE_SERVICE_ROLE_KEY=
